<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        

        <title>Zodiac Site</title>
    </head>

    <body>
        {% with messages = get_flashed_messages() %}
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        {% endwith %}
            <div class="container">
                    <h1 class="text-left"><a href="{{ url_for('home') }}" style="text-decoration:none;"> Birthday Twinz</a></h1>
            
                    <div class="jumbotron myborder text-center">
                        <h1>Enter Your Birthday Here To Find Your</h1>
                        <h1 style=" color: red; ">Birthday Twin</h1>
            
                        <form action="/" method="POST">
                            <input label = "Birthday" type = "date" name="birthday">
                            <select name="hour">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                            <select name="AMPM">
                                <option value="AM">AM</option>
                                <option value="PM">PM</option>
                            </select>
                            <br>
                            
                            <input label="E-mail" type = "email" name="email" autocomplete="off">
                            <br>
                            <input type="submit" value="Submit">
                        </form>
            
            
                    </div>
                </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src=" https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="
                sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo "
            crossorigin=" anonymous "></script>
        <script src=" https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="
                sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 "
            crossorigin=" anonymous "></script>
        <script src=" https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="
                sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM "
            crossorigin=" anonymous "></script>
    </body>

</html>